*{
	box-sizing: border-box;
	claer: both;
}

.menu a{
	cursor:pointer;
}
.menu .hide{
	display:none;
}

body{
	padding: 10px;
	font-family: Gulim;
	background: #000000;
}
.header{
	padding: 10px;
	text-align: center;
	background: white;
}
.header h1{
	font-size: 40px;
}
.header a{
	color: #000000;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
}
.nav{
	overflow: hidden;
	background-color: #b70202; 
}
.nav a{
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
}
.nav h5{
	float: right;
	color: #ffffff;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
}
.left{
	float: left;
	width:15%;
}
.middle{
	float: left;
	width:65%;
	padding-left: 20px;
}
.right{
	float: left;
	width: 20%;
	bakcgroun-color: #eee;
	padding-left: 20px;
}
.fakeimg{
	backgorund-color: #aaa;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	claer:both;
	width: 100%;
	padding: 20px;
}
.card{
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.copyrightimg{
	position: absolute;
	margin-top: 30px;
}
.footer{
	width: 100%;
	border-top: 1px solid;
}
.footer p{
	padding:55px 0  20px 200px;
	text-align: left;
	margin-top: 20px;
	background: white;
}